$small-phone: 600px;
$tablet: 768px;
$tablet-L: 1024px;
$desktop: 1224px;

@media screen and (max-width: $small-phone) {
    h1 {
        color: white;
        text-align: center;
        line-height: 1em;
        padding: 10px;
        font-size: 20px;
        text-shadow: 2px 2px black;
    }

    #linkNames {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        .contain {
            display: flex;
            justify-content: center;
            margin-top: 10px;

            #FBName {
                width: 180px;
                height: 50px;
                border-radius: 50px;
                transition: transform 300ms;

                &:hover {
                    transform: scale(1.05);
                }
            }

            #InstaName {
                width: 180px;
                height: 50px;
                border-radius: 50px;
                transition: transform 300ms;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media screen and (min-width: $tablet) {
    h1 {
        color: white;
        text-align: center;
        line-height: 1em;
        padding: 10px;
        font-size: 45px;
        text-shadow: 2px 2px black;
    }

    #linkNames {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        .contain {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            #FBName {
                width: 360px;
                height: 100px;
                border-radius: 50px;
                transition: transform 300ms;

                &:hover {
                    transform: scale(1.05);
                }
            }

            #InstaName {
                width: 360px;
                height: 100px;
                border-radius: 50px;
                transition: transform 300ms;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

@media screen and (min-width: $tablet-L) {
    h1 {
        color: white;
        text-align: center;
        line-height: 1em;
        padding: 10px;
        font-size: 50px;
        text-shadow: 2px 2px black;
    }

}

@media screen and (min-width: $desktop) {
    h1 {
        color: white;
        text-align: center;
        line-height: 1em;
        padding: 10px;
        font-size: 40px;
        text-shadow: 2px 2px black;
    }
}
