<div class="row">
  <footer id="footer">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Contact Us!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a href="https://www.facebook.com/Finneganblue/" target="_blank">
          <img src="../assets/images/facebook.png" alt="facebook">
        </a>
        <a href="https://www.youtube.com/channel/UCZritUKh7zr9z7mRTRuQuJA" target="_blank">
          <img src="../assets/images/youtube.png" alt="youtube">
        </a>
        <a href="https://www.instagram.com/finneganbluesd/" target="_blank">
          <img src="../assets/images/instagram.png" alt="instagram">
        </a>
        <a href="https://soundcloud.com/finneganblue" target="_blank">
          <img src="../assets/images/soundcloud.png" alt="soundcloud">
        </a>
      </div>
    </div>
  </footer>
</div>