<div class="container-fluid">
  {{>header }} {{> nav }}

  <div class="container-fluid" id="bio_content">
    <div id="mem1" class="row">
      <div id="member_1" class="col-sm-4">
        <img src="/images/annalee.jpg" alt="">
      </div>
      <div id="info_1" class="col-sm-8">
        <p>
          Hello Everyone! My name is Anna Lee and I play guitar, trombone, and sing for the band. 
          By day, I teach the future generations but by night, I rock out!
        </p>
      </div>
    </div>
    <div id="mem2" class="row">
      <div id="member_2" class="col-sm-4">
        <img src="/images/willie.jpg" alt="">
      </div>
      <div id="info_2" class="col-sm-8">
        <p>
          Heeeeey everybody! My name is Willie and I like to rock out with my socks....on my feet.
          I play mandolin, trombone, guitar, and I sing as well.  I like to explore all different 
          forms of music and when you get the chance, come say hi!
        </p>
      </div>
    </div>
    <div id="mem3" class="row">
      <div id="member_3" class="col-sm-4">
        <img src="/images/bill.jpg" alt="">
      </div>
      <div id="info_1" class="col-sm-8">
        <p>
          Hello, my name is Bill and I play lead guitar and assist on vocals.  I'm Anna Lee's and Willie's 
          father and I am so proud on what they have accomplished.  I so glad to be playing with them in 
          Finnegan Blue and we hope to see you guys at the shows!
        </p>
      </div>
    </div>
    <div id="mem4" class="row">
      <div id="member_4" class="col-sm-4">
        <img src="/images/ronnie.jpg" alt="">
      </div>
      <div id="info_2" class="col-sm-8">
        <p>
          Hey, my name is Ronnie and I play percussion. I keep the band's tempo together and I'm pretty chill
          while doing it.  Don't be afraid to come by and say hi at one of our shows.
        </p>
      </div>
    </div>
    <div id="mem5" class="row">
      <div id="member_5" class="col-sm-4">
        <img src="/images/malcom.jpg" alt="">
      </div>
      <div id="info_1" class="col-sm-8">
        <p>
          Hey everyone, my name is Malcom and I play the sexy sax.  I would like to think I add just that extra flair 
          to the overall arrangement of the band.  When I'm not playing the sax, I'm just chilling and being cool!
        </p>
      </div>
    </div>
    <div id="mem6" class="row">
      <div id="member_6" class="col-sm-4">
        <img src="/images/oscar.jpg" alt="">
      </div>
      <div id="info_2" class="col-sm-8">
        <p>
          Hey everyone!  I'm Oscar and I rip on the bass.  I'm the pulse of the band and I add that extra somthing with 
          my sweet bass runs! We are a good bunch so come by and say hello!
        </p>
      </div>
    </div>
    {{> footer }}
  </div>