<div class="container-fluid">
  {{>header }} {{> nav }}

  <div class="container-fluid" id="bio_content">
    <div id="mem1" class="row">
      <div id="member_1" class="col-sm-4">
        <img src="/images/annalee.jpg" alt="">
      </div>
      <div id="info_1" class="col-sm-8">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolor voluptas voluptates assumenda fuga ab possimus numquam
          cumque quaerat explicabo? Eveniet corporis dolore suscipit quis ea magni odit minus tempore.
        </p>
      </div>
    </div>
    <div id="mem2" class="row">
      <div id="member_2" class="col-sm-4">
        <img src="/images/willie.jpg" alt="">
      </div>
      <div id="info_2" class="col-sm-8">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolor voluptas voluptates assumenda fuga ab possimus numquam
          cumque quaerat explicabo? Eveniet corporis dolore suscipit quis ea magni odit minus tempore.
        </p>
      </div>
    </div>
    <div id="mem3" class="row">
      <div id="member_3" class="col-sm-4">
        <img src="/images/bill.jpg" alt="">
      </div>
      <div id="info_1" class="col-sm-8">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolor voluptas voluptates assumenda fuga ab possimus numquam
          cumque quaerat explicabo? Eveniet corporis dolore suscipit quis ea magni odit minus tempore.
        </p>
      </div>
    </div>
    <div id="mem4" class="row">
      <div id="member_4" class="col-sm-4">
        <img src="/images/ronnie.jpg" alt="">
      </div>
      <div id="info_2" class="col-sm-8">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolor voluptas voluptates assumenda fuga ab possimus numquam
          cumque quaerat explicabo? Eveniet corporis dolore suscipit quis ea magni odit minus tempore.
        </p>
      </div>
    </div>
    <div id="mem5" class="row">
      <div id="member_5" class="col-sm-4">
        <img src="/images/malcom.jpg" alt="">
      </div>
      <div id="info_1" class="col-sm-8">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolor voluptas voluptates assumenda fuga ab possimus numquam
          cumque quaerat explicabo? Eveniet corporis dolore suscipit quis ea magni odit minus tempore.
        </p>
      </div>
    </div>
    <div id="mem6" class="row">
      <div id="member_6" class="col-sm-4">
        <img src="/images/oscar.jpg" alt="">
      </div>
      <div id="info_2" class="col-sm-8">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolor voluptas voluptates assumenda fuga ab possimus numquam
          cumque quaerat explicabo? Eveniet corporis dolore suscipit quis ea magni odit minus tempore.
        </p>
      </div>
    </div>
    {{> footer }}
  </div>