<div class="container-fluid">
  {{> header }} {{> nav }}
  <div class="row">
    <div id="home_content" class="col-lg-12">
      <img src="/images/band-group.png" alt="">
      <p>Finnegan Blue captures the essence of Americana by performing high energy original songs written, sung, and played
        by sibling duo Anna Lee and Willie Fleming.
      </p> 
      <p>
        Filling out with guitar, trombones, and mandolin, the Fleming duo are
        also joined by their father Bill Fleming (Electric Guitar), and bandmates Ronnie Valles (Drum Kit and Percussion),
        and Oskar Beckmann (Electric Bass) to perform Irish and Bluegrass-influenced crowd favorites such as "Rye Whiskey,"
        "Come Follow Me," and "San Francisco" and second line songs such as “Little Liza Jane” and “The Saints Go Marching
        In”.
      </p> 
      <p>
        Finnegan Blue is also eclectic with cover tunes spanning the Grateful Dead, The Pogues, and Flogging Molly,
        to Stevie Wonder, Sublime, and Amy Winehouse.</p> 
      <p>
        Blue has performed all over San Diego including the North Park Festival of the Arts and the Adams Avenue Street Fair 
        and in Northern California at the Mammoth Lakes “53 Kitchen” Run.
      </p>
    </div>
  </div>
  {{> footer }}
</div>