<div class="container-fluid">
  {{>header}} {{>nav}}
  <div class="container-fluid">
    <h1>We are working on a merch store! We will let you know when you on will be available! Thanks for all the support everyone!!!
    </h1>
  </div>
  {{>footer}}
</div>