<div class="container-fluid">
  {{>header}} {{>nav}}
  <div class="container">
    <h1>To checkout upcoming shows, make sure to follow us on Instagram and Facebook!</h1>
    <div id="linkNames" class="row">
      <div id="linkNames">
        <div class="col-lg-12">
          <div class="contain">
            <a href="https://www.facebook.com/Finneganblue" target="_blank">
              <img id="FBName" src="/images/facebook-logo_0.jpg" alt="facebook name">
            </a>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="contain">
            <a href="https://www.instagram.com/finneganbluesd/" target="_blank">
              <img id="InstaName" src="/images/instagram_name.jpg" alt="instagram name">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>footer}}
</div>