<div class="container-fluid">
  {{>header}} {{>nav}}
  <div class="container">
    <h1>Upcoming Shows</h1>
    <hr>
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <h2>The Dubliner- COMIC CON!</h2>
      </div>
      <div class="col-sm-6 col-lg-6">
        <h2>July 21st 9pm-1am</h2>
      </div>
    </div>
  </div>

  {{>footer}}
</div>