<div class="container-fluid">
  {{> header }} {{> nav }}
  <div class="container-fluid">
    <div class="big-video-container" class="row">
      <div class="video-container" class="col-sm-12 col-lg-6">
        <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/oOD5qQ0RnSg" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <div class="video-container" class="col-sm-12 col-lg-6">
        <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/7ToTDKB2diA" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="big-video-container" class="row">
      <div class="video-container" class="col-sm-12 col-lg-6">
        <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/vagwSFl0eKc" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <div class="video-container" class="col-sm-12 col-lg-6">
        <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/6ueE40Lt6cQ" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
    <div class="big-video-container" class="row">
      <div class="video-container" class="col-sm-12 col-lg-6">
        <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/GjbqeN_Kjd4" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  {{> footer }}
</div>