body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("../../images/rustic-background.jpg"); }

p {
  color: white; }

@media only screen and (max-width: 600px) {
  body {
    margin-bottom: 50px; } }
@media only screen and (min-width: 768px) {
  body {
    margin-bottom: 5.5em; } }
@media only screen and (max-width: 600px) {
  #footer {
    margin-right: 0;
    margin-left: 0;
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(56, 85, 56, 0.6);
    width: 100%;
    height: 3.5em; }
    #footer p {
      text-align: center;
      margin: 0;
      color: white; }
    #footer img {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      padding: 0;
      width: 25px;
      height: 25px; } }
@media only screen and (min-width: 768px) {
  #footer {
    margin-right: 0;
    margin-left: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(56, 85, 56, 0.6);
    width: 100%;
    height: 5.5em; }
    #footer p {
      text-align: center;
      margin: 0;
      color: white;
      font-size: 25px; }
    #footer img {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      padding: 0;
      width: 50px;
      height: 50px;
      padding-bottom: 5px; } }
@media only screen and (max-width: 600px) {
  #header {
    position: relative;
    text-align: center;
    height: 12em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15em;
    padding: 0; }

  #header img {
    width: 100%;
    height: 100%;
    margin: auto; } }
@media only screen and (min-width: 768px) {
  #header {
    position: relative;
    text-align: center;
    height: 25em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15em;
    padding: 0; }
    #header img {
      width: auto;
      height: auto;
      margin: auto;
      border-radius: 20px; } }
@media only screen and (max-width: 600px) {
  #nav_container {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: rgba(56, 85, 56, 0.6);
    margin-bottom: 10px;
    padding: 0; }

  #navigation li {
    list-style: none;
    display: inline-block;
    text-decoration: none; }
  #navigation li a {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 13px;
    padding-bottom: 2px;
    padding: 4px; }
    #navigation li a:hover {
      background-color: rgba(120, 120, 120, 0.8);
      border-radius: .5em; }

  .dropdown-menu {
    background-color: rgba(120, 120, 120, 0.6);
    text-align: center;
    min-width: 5em; }

  .choice {
    margin: 0; }
    .choice:hover {
      background-color: rgba(56, 85, 56, 0.8); } }
@media only screen and (min-width: 768px) {
  #nav_container {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: rgba(56, 85, 56, 0.6); }

  #navigation li {
    list-style: none;
    display: inline-block;
    text-decoration: none; }
  #navigation li a {
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 28px;
    padding-bottom: 2px;
    padding: 5px;
    margin: 0 5px 0; }
    #navigation li a:hover {
      background-color: rgba(120, 120, 120, 0.8);
      border-radius: .5em; }

  #menu {
    background-color: rgba(120, 120, 120, 0.6);
    text-align: center; }

  .choice {
    margin: 0; }
    .choice:hover {
      background-color: rgba(56, 85, 56, 0.8); } }
@media only screen and (max-width: 600px) {
  #home_content {
    position: relative;
    text-align: center; }
    #home_content img {
      width: 100%;
      padding: 15px;
      border-radius: 20px;
      transition: transform 300ms; }
      #home_content img:hover {
        transform: rotate(180deg); }
    #home_content p {
      color: white; } }
@media only screen and (min-width: 768px) {
  #home_content {
    position: relative;
    text-align: center; }
    #home_content img {
      width: 70%;
      margin: 15px;
      border: 1px solid black;
      border-radius: 20px;
      transition: transform 300ms; }
      #home_content img:hover {
        transform: scale(1.05); }
    #home_content p {
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
      color: white;
      font-size: 30px; } }
p {
  text-align: center; }

/* small phones */
@media screen and (max-width: 600px) {
  #member_1, #member_2, #member_3, #member_4, #member_5, #member_6 {
    display: flex;
    flex-direction: column; }
    #member_1 img, #member_2 img, #member_3 img, #member_4 img, #member_5 img, #member_6 img {
      width: 200px;
      height: auto;
      margin: auto;
      border: 1px solid black;
      border-radius: 150px; } }
@media screen and (min-width: 768px) {
  #bio_content {
    margin-top: 20px; }

  #mem1, #mem3, #mem5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0; }
    #mem1 p, #mem3 p, #mem5 p {
      font-size: 25px; }

  #member_1 img, #member_3 img, #member_5 img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 50px; }

  #mem2, #mem4, #mem6 {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    width: 100%;
    margin: 0; }
    #mem2 p, #mem4 p, #mem6 p {
      font-size: 25px; }

  #member_2 img, #member_4 img, #member_6 img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 50px; } }
@media screen and (min-width: 1224px) {
  #member_1 img, #member_3 img, #member_5 img, #member_2 img, #member_4 img, #member_6 img {
    width: 300px;
    height: auto; } }
@media screen and (max-width: 600px) {
  #music_content {
    padding: 0; } }
@media screen and (min-width: 768px) {
  #music_content {
    margin-top: 15px; } }
@media screen and (min-width: 1224px) {
  #music_content {
    margin-top: 15px; } }
@media screen and (max-width: 600px) {
  #slide #carouselExampleIndicators {
    margin: 15px; }
    #slide #carouselExampleIndicators .carousel-item img {
      border-radius: 15px;
      border: 1.75px solid black;
      padding: 0;
      margin: 0; } }
@media screen and (min-width: 768px) {
  #carouselExampleIndicators {
    margin: 25px; }
    #carouselExampleIndicators .carousel-item img {
      border-radius: 15px;
      border: 1px solid black; } }
@media screen and (min-width: 1224px) {
  #slide {
    display: flex;
    justify-content: center; }
    #slide #carouselExampleIndicators {
      width: 50%;
      margin: 25px; }
      #slide #carouselExampleIndicators .carousel-item img {
        border-radius: 15px;
        border: 1px solid black; } }
@media screen and (max-width: 600px) {
  .video-container {
    margin: 10px; }
    .video-container .videos {
      width: 100%;
      height: auto; } }
@media screen and (min-width: 768px) {
  .video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 20px; } }
@media screen and (min-width: 1024px) {
  .video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 20px; } }
@media screen and (min-width: 1224px) {
  .big-video-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px; } }

/*# sourceMappingURL=main.css.map */
