$small-phone: 600px;
$tablet: 768px;
$tablet-L: 1024px;
$desktop: 1224px;

@media screen and (max-width: $small-phone) {

}

@media screen and (min-width: $tablet) {

}

@media screen and (min-width: $desktop) {
  
}